.views-table{
  color: blue !important;
}
.btn{
  background-color: rgb(21, 21, 136);
  color: white;
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 20px;
  transition: ease-in-out 0.8s;
}
.btn:hover{
  background-color: blueviolet;
  color: black;
}
.btn:focus{
  outline: none;
} 